html, body{
    margin: 0;
    padding: 0;
}


header h1 {
    font-size: 32px;
    color: rgb(255, 255, 255);
}
header {
    background-color: rgb(39, 241, 59);
}
footer{
    font-size: 40px;
    color: chartreuse;
}